*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100%;
    background-color: black;
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.box{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.box div{
    width: 40%;
}
.box img{
    width: 50%;
    height: 200px;
    object-fit: cover ;
}